# Python Basics-1 (Data Types)

  * Input
  * String Functions
   + index, 
   + strip, 
   + replace, 
   + format, 
  
  * List Functions
   + index
   + append, 
   + remove, 
   + pop, 
   + copy, 
   + count, 
   +  insert, 
   + sort, 
   + sort(reverse=True), 
   + reverse, 
   + clear
  * Dictionary Functions
    * keys, 
    * values, 
    * items, 
    * get, 
    * update, 
    * pop, 
    * clear
  * Tuple
     + index
  + Set
     + add
     + discard
     + remove
     + update
     + union
     +  diffrence
     + intersection

### input

In [56]:
name=input('name:')

name:onur

In [61]:
name

'onur'

### ===========          string functions                   ==============
  
   + index, 
   + strip, 
   + replace, 
   + format,

#### index

In [111]:
name.find('r'), len(name), name[3]

(-1, 4, 'R')

In [62]:
indeks=name.index('r')
indeks

3

In [87]:
name=list(name)
name

['o', 'n', 'u', 'R']

In [88]:
name[indeks]=name[indeks].upper()
name, type(name)

(['o', 'n', 'u', 'R'], list)

In [89]:
name=''.join(name)
name, type(name)

('onuR', str)

#### strip

In [100]:
lastname='   cigdem   '
lastname

'   cigdem   '

In [91]:
lastname.lstrip(), lastname.rstrip(), lastname.strip()

('cigdem   ', '   cigdem', 'cigdem')

#### replace

In [102]:
lastname=lastname.replace('ci','CI')
lastname

'   CIgdem   '

#### format

In [105]:
print('my name is {} {}'.format(name,lastname))

my name is onuR    CIgdem

In [106]:
'my name is {} {}'.format(name,lastname)

'my name is onuR    CIgdem   '

## List Functions
   + index
   + append, 
   + remove, 
   + pop, 
   + copy, 
   + count, 
   +  insert, 
   + sort, 
   + sort(reverse=True), 
   + reverse, 
   + clear

In [117]:
a=['ali','veli']
a[0], a[0][0]

('ali', 'a')

In [116]:
a[0][1], type(a),type(a[0]), type(a[0][1])

('l', list, str, str)

#### index

In [118]:
a.index('veli')

1

In [119]:
a[0].index('a')

0

In [4]:
b=[12,32,543,65,76,454,76,4,3,2]
b.index(32)

1

In [5]:
[b.index(i) for i in b]

[0, 1, 2, 3, 4, 5, 4, 7, 8, 9]

In [6]:
print('len(b):\t\t',len(b),'\nb index:\t',[b.index(i) for i in b],'\nb:\t\t',b, '\nb[2:5]:\t\t',b[2:5], '\nb[-5:-2]:\t',b[-5:-2], '\nb[::2]\t\t',b[::2])

len(b):		 10
b index:	 [0, 1, 2, 3, 4, 5, 4, 7, 8, 9]
b:		 [12, 32, 543, 65, 76, 454, 76, 4, 3, 2]
b[2:5]:		 [543, 65, 76]
b[-5:-2]:	 [454, 76, 4]
b[::2]		 [12, 543, 76, 76, 3]

In [7]:
b.append(100)
b

[12, 32, 543, 65, 76, 454, 76, 4, 3, 2, 100]

In [8]:
b.remove(12)
b

[32, 543, 65, 76, 454, 76, 4, 3, 2, 100]

In [9]:
b.pop()

100

In [10]:
b.pop(1)

543

In [11]:
b

[32, 65, 76, 454, 76, 4, 3, 2]

In [12]:
bcopy=b.copy()
bcopy

[32, 65, 76, 454, 76, 4, 3, 2]

In [13]:
b.count(65)

1

In [14]:
b.insert(3,'insertThis')
b

[32, 65, 76, 'insertThis', 454, 76, 4, 3, 2]

In [16]:
b.pop(b.index('insertThis'))
b

[32, 65, 76, 454, 76, 4, 3, 2]

In [17]:
b.sort()
b

[2, 3, 4, 32, 65, 76, 76, 454]

In [18]:
b.sort(reverse=True)
b

[454, 76, 76, 65, 32, 4, 3, 2]

In [19]:
b.sort()
b

[2, 3, 4, 32, 65, 76, 76, 454]

In [20]:
b.insert(3,1000)
b

[2, 3, 4, 1000, 32, 65, 76, 76, 454]

In [21]:
b.reverse() ### sadece reverse seriyi tersine ceviriyor siralamiyor
b

[454, 76, 76, 65, 32, 1000, 4, 3, 2]

In [22]:
b.clear()
b

[]

## Dictionary Functions
* keys, 
* values, 
* items, 
* get, 
* update, 
* pop, 
* clear

In [26]:
dic={1:331313,3:312312312,4:3213123123}
dic

{1: 331313, 3: 312312312, 4: 3213123123}

In [25]:
dic[1]

331313

In [28]:
dic[2]   ### no index

KeyError: 2

In [31]:
dic.keys(),dic.values(),dic.items()

(dict_keys([1, 3, 4]),
 dict_values([331313, 312312312, 3213123123]),
 dict_items([(1, 331313), (3, 312312312), (4, 3213123123)]))

In [225]:
personel={'name': ['Tobias','Florian','Ray'],
          'nachname':['Schmied','Wessels','Müller']
         }

In [232]:
personel

{'name': ['Tobias', 'Florian', 'Ray'],
 'nachname': ['Schmied', 'Wessels', 'Müller']}

In [231]:
personel['name']

['Tobias', 'Florian', 'Ray']

In [233]:
personel['name'][0]

'Tobias'

In [235]:
personel.keys()

dict_keys(['name', 'nachname'])

In [236]:
personel.values()

dict_values([['Tobias', 'Florian', 'Ray'], ['Schmied', 'Wessels', 'Müller']])

In [239]:
len(personel)

2

In [241]:
personel.items()

dict_items([('name', ['Tobias', 'Florian', 'Ray']), ('nachname', ['Schmied', 'Wessels', 'Müller'])])

In [242]:
personel.get('name')

['Tobias', 'Florian', 'Ray']

In [243]:
personel['age']=[30,35,29]
personel

{'name': ['Tobias', 'Florian', 'Ray'],
 'nachname': ['Schmied', 'Wessels', 'Müller'],
 'age': [30, 35, 29]}

In [246]:
personel.update({'land':['DE','EN','US']})

In [247]:
personel

{'name': ['Tobias', 'Florian', 'Ray'],
 'nachname': ['Schmied', 'Wessels', 'Müller'],
 'age': [30, 35, 29],
 'land': ['DE', 'EN', 'US']}

In [249]:
personel.pop('age')

[30, 35, 29]

In [250]:
personel

{'name': ['Tobias', 'Florian', 'Ray'],
 'nachname': ['Schmied', 'Wessels', 'Müller'],
 'land': ['DE', 'EN', 'US']}

In [251]:
personel.clear()
personel

{}

## Tuples ==============================

In [303]:
tupx=(4,)
tupx, type(tupx)

((4,), tuple)

In [293]:
tupy=(4)
tupy, type(tupy)

(4, int)

In [302]:
tuple([13])

(13,)

In [304]:
tup=(12,32,42,'sad')
tup, type(tup)

((12, 32, 42, 'sad'), tuple)

In [259]:
tup[2]

42

In [261]:
tup[2]='mad'  # cannot change
tup

TypeError: 'tuple' object does not support item assignment

In [264]:
tup.index(tup[2]), tup.index(42) , tup.index('sad')

(2, 2, 3)

# Set ========================

In [265]:
set1={1,2,3,3,4,4,5,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [267]:
set1[0]  # no index

TypeError: 'set' object is not subscriptable

In [268]:
set1.add(100)
set1

{1, 2, 3, 4, 5, 6, 100}

In [270]:
set1.discard(6)
set1

{1, 2, 3, 4, 5, 100}

In [274]:
set1.discard(6)
set1

{1, 2, 3, 4, 5, 100}

In [276]:
set1.remove(6)  ## remove gives error

KeyError: 6

In [279]:
set2={'a','b', 2,3,4}
set1.update(set2)
set1

{1, 100, 2, 3, 4, 5, 'a', 'b'}

In [280]:
set1.difference(set2)

{1, 5, 100}

In [284]:
set2.difference(set1)  # because set1 was updated

set()

In [285]:
set1.intersection(set2)

{2, 3, 4, 'a', 'b'}

In [286]:
set2.intersection(set1)

{2, 3, 4, 'a', 'b'}

In [287]:
set3={'de'}
set1.union(set3)

{1, 100, 2, 3, 4, 5, 'a', 'b', 'de'}

In [289]:
len(set1)

8