# Python Basics-4 (Object Oriented Programming)
*  Initializer and Constructor
*  Encapsulation
+  Inheritance
+  Abstract Class
+  Overriding
+  Polymorphism

In [281]:
class student:
    name='onur'
    lastname='cigdem'
    age=14
    noten=90

In [5]:
student

__main__.student

In [6]:
student.name

'onur'

In [22]:
s1=student
s1

__main__.student

In [23]:
s=student()

In [24]:
s

In [25]:
s.name

'onur'

# Initializer and Constuctor

In [28]:
class student:
    def __init__(self,name,lname,age,noten):
        self.object_name=name
        self.object_lname=lname
        self.object_age=age
        self.object_noten=noten

In [29]:
eins=student('onur','cigdem',15,90)

In [30]:
eins

In [31]:
type(eins)

__main__.student

In [33]:
eins.object_name

'onur'

==============================================================================================

In [282]:
class mitarbeiter:
    def __init__(self,name,lname,age):
        self.n=name
        self.ln=lname
        self.a=age

In [283]:
adam=mitarbeiter('adam','smith','34')

In [286]:
adam.name

AttributeError: 'mitarbeiter' object has no attribute 'name'

In [287]:
adam.n

'adam'

================================================================================

In [52]:
class student:
    def __init__(self,name,lname,age,noten):
        self.name=name
        self.lname=lname
        self.age=age
        self.noten=noten
    def info(self):
        print("{} {}'s age and noten infos are recorded in object".format(self.name,self.lname))
    def geburtsjahr(self):
        return (2020 - self.age)

In [53]:
eins=student('onur','cigdem',15,90)

In [54]:
eins.info()

onur cigdem's age and noten infos are recorded in object

In [55]:
eins.age

15

In [56]:
eins.geburtsjahr()

2005

# Encapsulation

In [236]:
class teacher:
    def __init__(self,name,lname,age,gehalt,branch):
        self.name=name
        self.lname=lname
        self.age=age
        self.__gehalt=gehalt   # encapsulated
        self.branch=branch
    def info(self):
        print("{} {}'s age and noten infos are recorded in object".format(self.name,self.lname))
    def mehrgehalt(self):
        return self.gehalt

In [93]:
ali = teacher('ali','veli',35,5000,'chemie')

In [66]:
ali.gehalt

5000

gehalt must not be seen

In [87]:
ali.gehalt

AttributeError: 'teacher' object has no attribute 'gehalt'

In [162]:
class teacher:
    def __init__(self,name,lname,age,gehalt,branch):
        self.name=name
        self.lname=lname
        self.age=age
        self.__gehalt=gehalt   # encapsulated
        self.branch=branch
    def info(self):
        print("{} {}'s age and gehalt infos are recorded in object".format(self.name,self.lname))
    def mehrgehalt(self):
        return self.__gehalt * 1.3
    def getgehalt(self):
        return self.__gehalt
    def setgehalt(self,neuGehalt):
        self.__gehalt=neuGehalt
        return

In [129]:
ali=teacher
ali

__main__.teacher

In [163]:
ali=teacher('ali','veli',36,5000,'chemie')
print(ali.getgehalt())

5000

In [164]:
ali.mehrgehalt()

6500.0

In [142]:
ali.setgehalt(6000)
ali.getgehalt()

6000

In [141]:
ali.info()

ali veli's age and gehalt infos are recorded in object

In [165]:
class teacher:
    def __init__(self,name,lname,age,gehalt,branch):
        self.name=name
        self.lname=lname
        self.age=age
        self.__gehalt=gehalt   # encapsulated
        self.branch=branch
    def info(self):
        print("{} {}'s age and gehalt infos are recorded in object".format(self.name,self.lname))
    def __mehrgehalt(self):
        return self.gehalt * 1.3
    def getgehalt(self):
        return self.__gehalt
    def setgehalt(self,neuGehalt):
        self.__gehalt=neuGehalt
        return

In [166]:
ali = teacher('ali','veli',35,5000,'chemie')

In [167]:
ali.__mehrgehalt()

AttributeError: 'teacher' object has no attribute '__mehrgehalt'

# Inheritance

In [221]:
class school:
    def __init__(self,name,lname,age):
        self.name=name
        self.lname=lname
        self.age=age
        print('school hat funktioniert')

In [223]:
ob1=school('ali','veli',14)

school hat funktioniert

In [224]:
ob1.name

'ali'

In [233]:
class teacher(school):
    def __init__(self,name,lname,age,gehalt):
        super().__init__(name,lname,age)
        self.gehalt=gehalt
        print('teacher hat funktioniert')
    def info(self):
        print('{} takes {} as a teacher'.format(self.name,self.gehalt))

In [234]:
ob2=teacher('ahmet','murat',35,5000)

school hat funktioniert
teacher hat funktioniert

In [235]:
ob2.info()

ahmet takes 5000 as a teacher

# Abstract Class

In [239]:
from abc import ABC, abstractmethod

class Animal:
    
    @abstractmethod
    def walk(self):
        print('Animal is walking')

    @abstractmethod
    def run(self):
        print('Animal is running')

class Cat(Animal):
    def walk(self):
        print('Cat is walking')
    def run(self):
        print('Cat is running')

In [240]:
lion=Cat()

In [242]:
lion.run()

Cat is running

In [243]:
from abc import ABC, abstractmethod

class Animal:
    
    @abstractmethod
    def walk(self):
        print('Animal is walking')

    
    def run(self):
        print('Animal is running')

class Cat(Animal):
    def walk(self):
        print('Cat is walking')

In [244]:
lion=Cat()

In [288]:
lion.run() ### @abstractmethod ist nicht geschrieben

Animal is running

# Overriding

In [246]:
class school:
    def __init__(self,name,lname,age):
        self.name=name
        self.lname=lname
        self.age=age
        print('school hat funktioniert')
    
    def info(self):
        print('{} is in School'.format(self.name))

class teacher(school):
    def __init__(self,name,lname,age,gehalt):
        super().__init__(name,lname,age)
        self.gehalt=gehalt
        print('teacher hat funktioniert')
    def info(self):
        print('{} takes {} as a teacher'.format(self.name,self.gehalt))

In [ ]:
    def info(self):
        print('{} takes {} as a teacher'.format(self.name,self.gehalt))

In [252]:
seco=school('seco','meco',30)
seco.info()

school hat funktioniert
seco is in School

In [253]:
teo=teacher('teo','meko',34,4000)
teo.info()

school hat funktioniert
teacher hat funktioniert
teo takes 4000 as a teacher

# Polymorphism

In [275]:
class school:
    def __init__(self,name,lname,age,gehalt):
        self.name=name
        self.lname=lname
        self.age=age
        self.gehalt=gehalt
        print('school hat funktioniert')
    
    def info(self):
        print('{} takes {} in School'.format(self.name,self.gehalt))
        
    def mehr(self):
        self.gehalt= self.gehalt * 1.3

class teacher(school):
    def __init__(self,name,lname,age,gehalt,bereich):
        super().__init__(name,lname,age,gehalt)
        self.bereich=bereich
        print('teacher hat funktioniert')
    def info(self):
        print('{} takes {} as a teacher'.format(self.name,self.gehalt))
    
    def mehr(self):
        self.gehalt= self.gehalt * 1.5

class managers(school):

    def __init__(self,name,lname,age,gehalt):
        super().__init__(name,lname,age,gehalt)
        print('manager hat funktioniert')
    def info(self):
        print('{} takes {} as a manager'.format(self.name,self.gehalt))
    
    def mehr(self):
        self.gehalt= self.gehalt * 2

In [276]:
one=school('a','b',33,3000)
one.name

school hat funktioniert

'a'

In [277]:
two=teacher('x','y',44,3000,'chemie')
two.name

school hat funktioniert
teacher hat funktioniert

'x'

In [278]:
three=managers('j','k',55,3000)
three.name

school hat funktioniert
manager hat funktioniert

'j'

In [279]:
one.mehr()
two.mehr()
three.mehr()

In [280]:
one.info(), two.info(), three.info()

a takes 3900.0 in School
x takes 4500.0 as a teacher
j takes 6000 as a manager

(None, None, None)